.HeaderContainer {
  display: flex;
  flex: 1;
  height: 80px;
  width: 90%;
  justify-content: flex-end;
  align-items: right;
}

.HeaderButton {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: teal;
  outline: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  border: none;
  cursor: pointer;
}
