.homeButton {
  padding: 20px 20px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  background-color: white;
  border: 1px solid gray;

  cursor: pointer;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px;
  font-family: sans-serif !important;
  align-items: center;
  text-align: center;
  font-weight: 600 !important;
}
.disabled {
  background-color: #e8e7e7;
  cursor: not-allowed;
}

.homePanel {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 32%;
}
