.CardContainer {
  padding: 20px 20px;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  min-width: 25%;
  min-height: 60%;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 32%;
  border: 1px solid gray;
  cursor: pointer;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CardContent {
  margin: 20px;
  border: 0 !important;
}

.Header {
  margin: 20px;
}

.Footer {
  display: flex;
  justify-content: flex-end;
}
